.panel-2col-stacked .panel-col-first {
    width: 70%;
}
.panel-2col-stacked .panel-col-last {
    width: 30%;
}
.pane-project-issue-issue-metadata {
		background: #f6f6f2;
}
.pane-project-issue-issue-metadata .field {
    margin: 0 1em;
    line-height: 2em;
    border-bottom: 1px solid #ebebe7;
}
.pane-project-issue-issue-metadata .field-name-field-issue-status {
		margin: 0px;
		padding: 3px 0 3px;
		text-align: center;
		font-weight: bold;
		font-size: 17px;
}
.field-issue-status-1, .project-issue tr.state-1, .project-issue-status-1 a {
    background-color: bisque;
}
.pane-project-issue-issue-metadata .field-name-field-issue-status, 
.pane-project-issue-issue-metadata .field-name-field-issue-status .field-name-field-issue-status a {
		border-bottom: 2px solid #cccccc !important;
}
.pane-project-issue-issue-metadata .field-label {
    width: 36%;
    float: left;
}
.comment {
		float: left;
		width: 100%;
		border-bottom: 1px solid #ccc;
}
.comment:last-child {
	border-bottom: none;
}
.comment, .comment .attribution, .comment .comment-text {
		display: inherit;
}
.comment .comment-text {
		padding: 0px;
		border: none;
		width: 90%;
}
.comment .field-name-comment-body {
		margin-bottom: 20px;
}
.comment .attribution, .comment .comment-text {
		float: left;
}
.comment .attribution {
		width: 60px;
		padding-right: 0px;
}
.comment .attribution .user-picture img{
		width: 48px;
		height: 48px;
}
.pane-node-comments h2 {
		margin-bottom: 20px !important;
}
.nodechanges-field-changes {
    width: auto;
    margin-top: 10px;
    border: none;
}
.nodechanges-field-changes tr.even,
.nodechanges-field-changes tr.odd,
.nodechanges-field-changes td,
.nodechanges-field-changes th {
    border: none;
    padding: 0px 0px 0px 5px;
		background: beige;
		font-weight: bold;
}
.nodechanges-field-changes td:last-child {
    padding-right: 5px;
}
.nodechanges-old {
    text-decoration: line-through;
}
strong.calert {
    color: crimson;
    font-size: 13px;
}
.field-name-body p {
    margin-bottom: 10px;
}
.fieldset-description {
		margin-bottom: 10px;
}
.view-project-issue-user-projects table {
		margin-bottom: 15px;
}